[submodule "src/app/dashboard/examples/aggswap-app/unified-bridge-scripts"]
	path = src/app/dashboard/examples/aggswap-app/unified-bridge-scripts
	url = https://github.com/BrianSeong99/AggLayer_UnifiedBridge.git
